//Footer Version One
.footer-sound-element {
	position: absolute;
	top: 0;
	right: 40px;
	z-index: -1;
}
.footer-version-one {
	.widget-map {
		max-width: 145px;
		a {
			transition: all 0.4s;
			color: $pra-clr;
			&:hover {
				color: $primary !important;
			}
		}
	}
}
.cmn-hover {
	position: relative;
	&::before {
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		width: 1px;
		height: 1px;
		background: $primary;
		transition: all 0.4s;
		opacity: 0;
	}
	&:hover {
		&::before {
			width: 100%;
			opacity: 1;
		}
	}
}
.footer-logov1 {
	@include maxQuery(1399) {
		width: 100px;
		margin: 0 auto;
		img {
			width: 100%;
			width: 100%;
		}
	}
}
.flink-items {
	transition: all 0.6s;
	font-size: 16px;
	font-weight: 400;
	font-family: $body-font;
	color: $pra-clr;
	i {
		transition: all 0.6s;
	}
	&:hover {
		color: $theme !important;
		.ani-icons {
			transform: rotate(180deg);
			i {
				color: $theme !important;
			}
		}
	}
}
.foote-formv1 {
	border: 1px solid $border1;
	border-radius: 4px;
	padding: 5px;
	button {
		width: 53px;
		height: 50px;
		padding: 5px 16px;
	}
	input {
		background: transparent;
		border: unset;
		outline: none;
		padding: 10px 24px;
		color: $pra-clr;
		width: initial;
	}
	::placeholder {
		color: $border1;
	}
	@include maxQuery(1399) {
		input {
			padding: 10px 10px;
		}
	}
}
.footer-topscroll {
	@include box(58);
	border-radius: 50%;
	display: block;
	border: 5px solid $white;
	transition: all 0.5s;
	i {
		transition: all 0.5s;
	}
	&:hover {
		background: $white;
		border-color: $theme;
		i {
			color: $theme;
		}
	}
	@include maxQuery(575) {
		margin: 0 auto;
	}
}
//Footer Version One

//Newsletter V-01
.newsletter-wrap01 {
	background: url(../img/element/envelop-shape.png) no-repeat center center;
	background-size: cover;
	padding: 50px 50px 80px;
	margin-bottom: -34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	.newsletter-icon {
		i {
			font-size: 80px;
			color: $white;
		}
	}
	form {
		background: $white;
		border: unset;
		border-radius: 100px;
		width: 477px;
		button {
			width: 78px;
			border-radius: 100px;
			transition: all 0.4s;
			&:hover{
				background: $black;
			}
		}
	}
	@include maxQuery(1100) {
		padding: 50px 30px 80px;
		gap: 30px;
		.newsletter-icon {
			i {
				font-size: 60px;
			}
		}
		form {
			width: 300px;
			button {
				width: 58px;
			}
		}
	}
	@include maxQuery(767) {
		display: grid;
		gap: 20px;
		justify-content: center;
		.newsletter-icon {
			i {
				font-size: 50px;
			}
		}
		form {
			margin: 0 auto;
		}
	}
	@include maxQuery(500) {
		padding: 50px 30px 100px;
		display: grid;
		gap: 20px;
		justify-content: center;
		.newsletter-contv01 {
			justify-content: center !important;
			display: grid !important;
			text-align: center;
		}
		form {
			margin: 0 auto;
			max-width: 300px;
			width: initial;
		}
	}
}
//Newsletter V-01
