// team style
.hosts-item {
	transition: all 0.4s;
	.thumb {
		transition: all 0.4s;
		img {
			transition: all 0.4s;
		}
		.common-social {
			background: $white;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			transition: all 0.5s;
			li {
				a {
					border: unset;
					svg {
						transition: all 0.4s;
						path {
							transition: all 0.4s;
							fill: $black;
						}
					}
					&:hover {
						background: $bg4;
						svg {
							path {
								fill: $theme;
							}
						}
					}
				}
			}
		}
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 10px;
			background: $theme;
			bottom: -20px;
			left: 0;
			transition: all 0.4s;
		}
	}
	&:hover {
		transform: translateY(-10px);
		.thumb {
			&::before {
				bottom: 0px;
			}
			.common-social {
				opacity: 1;
				bottom: 40px;
			}
		}
		.content {
			h6 {
				a {
					color: $primary;
				}
			}
		}
	}
	@include maxQuery(1399) {
		&:hover {
			.thumb {
				.common-social {
					opacity: 1;
					bottom: 18px;
				}
			}
		}
	}
}
// team style

// Event style
.event-item {
	.event-datebox {
		background-color: rgba(255, 79, 0, 0.902);
		width: 69px;
		height: 100%;
		position: absolute;
		left: -80px;
		top: 0;
		transition: all 0.4s;
		.text {
			transform: rotate(-90deg);
			display: block;
			width: 200px;
			height: 30px;
			white-space: nowrap;
			letter-spacing: 2px;
		}
	}
	.touch-btn {
		font-weight: 700;
		&:hover {
			background: $theme;
		}
	}
	&:hover {
		h5 {
			a {
				color: $theme;
			}
		}
		.event-datebox {
			left: 0;
		}
	}
	@include maxQuery(1399) {
		.event-datebox {
			width: 40px;
		}
	}
}
// Event style

// Event Map style
.event-map {
	iframe {
		width: 100%;
		height: 390px;
	}
}
.host-details-content {
	.common-social {
		li {
			a {
				svg {
					path {
						fill: $heading;
					}
				}
				&:hover {
					svg {
						path {
							fill: $white;
						}
					}
				}
			}
		}
	}
	h5{
		font-size: 28px;
	}
}
// Event Map style
